/*  your css code here. If applicable */
body{
	background-color: #cccccc;
}
h1,h2,.c2,h3{text-align:center;}
a{
	text-decoration: none;
}
.player_one{border:1px solid black;
		   padding:5px;
		   background-color:white;
			margin:5px;}
.player_two{border:1px solid black;
		    padding:20px;
		   background-color:white;}
